$turquesa:#00F3BB;
$azul1:#0000FF;
$azul2:#0000A3;
$azul3:#0000EC;
$color-letra:#060A24;
$white:#FFFFFF;
$color-boton-1:#0000FE;
$color-boton-2:#00F0B8;
$color-link-1:rgba(6,10,36,0.56);
$cuerpo: 'IBM Plex Mono','Calibri', monospace;
$titulos: 'IBM Plex Sans','Calibri', sans-serif;
$line-height-cuerpo: 22px;
$line-height-cuerpo-desktop: 24px;
$line-height-titulos: 42px;
$break-point:1024px;